.DS_Store
.idea
.DS_Store
.env
config.yaml
/.env.yaml
.installed
vendor
/public_key.pem
/private_key.pem
/internal/infrastructure/email/sample-template.html
/internal/infrastructure/email/sample-attachment.txt